interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer token
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://slack.com/api/users.info?user=USLACKBOT
  response:
    body:
      string: '{"ok":true,"user":{"id":"USLACKBOT","team_id":"T0877KXMYAY","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T0877KXMYAY"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - users:read
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-oauth-scopes:
      - app_mentions:read,channels:history,channels:join,channels:manage,channels:read,chat:write.customize,chat:write.public,chat:write,files:read,files:write,groups:history,groups:read,groups:write,im:history,im:read,im:write,links:read,links:write,mpim:history,mpim:read,mpim:write,pins:read,pins:write,reactions:read,reactions:write,reminders:read,reminders:write,team:read,usergroups:read,usergroups:write,users:read,users:write,users.profile:read
      x-server:
      - slack-www-hhvm-main-iad-cnjn
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-req-id:
      - 9dfc0b8def43ef84f87f350170011fa8
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - Z49JoP4zStVcpKB3893uNwAAEA4
    status:
      code: 200
      message: OK
version: 1
