interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer token
      Content-type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://slack.com/api/usergroups.list
  response:
    body:
      string: '{"ok":true,"usergroups":[{"id":"S089HHSBG3U","team_id":"T0877KXMYAY","is_usergroup":true,"is_subteam":true,"name":"Project1","description":"meeting","handle":"project1","is_external":false,"date_create":1737434497,"date_update":1737434509,"date_delete":0,"auto_type":null,"auto_provision":false,"enterprise_subteam_id":"","created_by":"U087TURK6L8","updated_by":"U087TURK6L8","deleted_by":null,"prefs":{"channels":[],"groups":[]},"user_count":4,"channel_count":0,"is_section":false},{"id":"S089W9GQ2E5","team_id":"T0877KXMYAY","is_usergroup":true,"is_subteam":true,"name":"Project2","description":"meeting","handle":"project2","is_external":false,"date_create":1737434948,"date_update":1737434957,"date_delete":0,"auto_type":null,"auto_provision":false,"enterprise_subteam_id":"","created_by":"U087TURK6L8","updated_by":"U087TURK6L8","deleted_by":null,"prefs":{"channels":["C087HR3700Z"],"groups":[]},"user_count":2,"channel_count":0,"is_section":false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - usergroups:read
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-oauth-scopes:
      - app_mentions:read,channels:history,channels:join,channels:manage,channels:read,chat:write.customize,chat:write.public,chat:write,files:read,files:write,groups:history,groups:read,groups:write,im:history,im:read,im:write,links:read,links:write,mpim:history,mpim:read,mpim:write,pins:read,pins:write,reactions:read,reactions:write,reminders:read,reminders:write,team:read,usergroups:read,usergroups:write,users:read,users:write,users.profile:read
      x-server:
      - slack-www-hhvm-main-iad-kxng
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-req-id:
      - bfda69677e92288fd935785f3adee6df
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - Z494zx1trLEng13rhhXJOgAAADo
    status:
      code: 200
      message: OK
version: 1
